.pagesWrapper {
    margin-bottom: 20px;
}

.pages, .arrowButton {
    cursor: pointer;
    margin-right: 5px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color .3s
}

.pages:hover:not(.active) {
    background-color: #315253;
}

.currentPage {
    font-weight: bold;
    color: #fff;
    background-color: #a5a9a7;
}

.arrowButton {
    background-color: #eae5e5;
}