.posts {
    color: azure;
}

.posts > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts > form > textarea {
    width: 100%;

}

.button {
    margin: 10px 0;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 0;
}