.header {
    grid-area: header;
    background-color: #000;
    display: flex;
}

.header img {
    height: 60px;
    width: 122px;
}

.loginBlock {
    width: 100%;
    display: flex;
    align-items: center;
}

.loginBlock a {
    color: white;
}

.loginWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 20px;
}

.login {
    color: white;
    margin: 20px
}