.App {
    /*width: 1000px;*/
    /*margin: 0 auto;*/
    display: grid;
    grid-template-areas:
            'header header'
            'nav content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    font-family: "Times New Roman";
    height: 100vh;
}

.App-content{
    grid-area: content;
    background-color: burlywood;
    background-image: url("https://abrakadabra.fun/uploads/posts/2021-12/1640645365_1-abrakadabra-fun-p-oboi-na-rabochii-stol-biznes-motivatsiya-1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
