.App {
    /*width: 1000px;*/
    /*margin: 0 auto;*/
    display: grid;
    grid-template-areas:
            'header header'
            'nav content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    font-family: "Times New Roman";
    height: 100vh;
}